body {
  background-color: #000;
  margin-left: 5em;
  margin-right: 5em;
}

html {
  scrollbar-gutter: stable;
}

/*    TEXT    */

h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #fff;
  font-family: "Southernsky", sans-serif;
  font-weight: lighter;
  font-size: 5em;
  text-align: center;
  border-top: 3px solid deeppink;
  border-left: 3px solid deeppink;
}

#am {
  padding: 0%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Andalé Mono", monospace;
  font-size: 3em;
  border: none;
}

h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Andalé Mono", monospace;
  font-size: 2.2em;
  text-align: center;
  font-weight: lighter;
}


h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: lighter;
  margin-left: 0.5em;
  font-family: "Avantgarde", sans-serif;
  color: #fff;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 0.5em;
  font-family: "Avantgarde", sans-serif;
  color: rgb(171, 171, 171);
}

h5 {
  margin: 0;
  padding-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 0.5em;
  font-family: "Avantgarde", sans-serif;
  color: rgb(129, 127, 127);
}

p {
  color: #fff;
  font-family: "Avantgarde", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
}

ul li {
  font-family: "Avantgarde", sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 1.2em;
  padding: 2px;
}

.cursive {
  font-family: "Southernsky", sans-serif;
  /*font-family: "Snell Roundhand", cursive;*/
  font-weight: lighter;
  font-size: 3em;
  line-height: 1.1em;
}

.it {
  font-style: italic;
  padding: 0%;
  margin-top: 0%;
  color: rgb(171, 171, 171);
  margin-left: 0.5em;
}

.h2p {
  text-align: left;
  padding: 0;
  margin-left: 0.5em;
}

/*    TEXT    */

/*    INDEX NAV    */

#main-nav {
  background-color: #000;
  overflow: hidden;
}

#nav-cont {
  float: left;
  width: 100%;
  position: relative;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-nav ul li {
  font-size: 1em;
  float: left;
  position: relative;
  right: 50%;
  display: block;
  color: #fff;
}

#main-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-nav ul li a:hover {
  color: deeppink;
}

/*    INDEX NAV    */

/*    OTHER NAV    */

#nav {
  width: 100%;
  height: 5em;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#other-nav {
  height: 5em;
  width: 100%;
  min-width: fit-content;
  padding: 0;
  margin: auto 0 auto auto;
}

#other-nav ul {
  display: flex;
  width: max-content;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: auto 0 auto auto;
}

#other-nav ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5em;
  padding: 0;
  margin: auto 0 auto auto;
}

#other-nav ul li a {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: auto 0 auto auto;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

#other-nav ul li a:hover {
  color: deeppink;
}

#logo2 {
  height: 5em;
  width: auto;
  margin: 0 1em 0 0;
  padding: 0;
}


/*    OTHER NAV    */

/*    INDEX LOGO    */

#logo-cont {
  text-align: center;
  width: 100%;
}

#logo {
  width: 35%;
}

/*    INDEX: ABOUT ME    */

#about-me {
  display: flex;
  border: 3px solid deeppink;
}

#am-cont {
  width: 75%;
  margin: auto 0 auto 0;
  padding: 0;
  height: fit-content;
}

#personalPhoto {
  width: 25%;
  padding: 1em;
  margin: auto;
}

#personalPhoto img{
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

/*    INDEX: ABOUT ME    */

/*    INDEX: SLIDER    */

#slider-container {
  position: relative;
  padding: 0%;
  height: 100%;
  width: 100%;
  margin: auto;
  border-left: 0.15em solid #fff;
}

.slider-image {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  object-fit: contain;
  overflow: hidden;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.active-slide {
  opacity: 1;
}

#prev, #next {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 2rem;
  cursor: pointer;
}

#prev {
  background-color: transparent;
  left: 0;
}

#next {
  background-color: transparent;
  right: 0;
}

#prev:hover, #next:hover {
  color: deeppink;
}

/*    INDEX: SLIDER    */

/*    DRAWING PAINTING & TRAVEL    */

#drawing-painting, #travel {
  padding: 1em 0 1em 0;
  margin: 5em 0 5em 0;
  display: flex;
  height: fit-content;
}

#drawing-painting {
  height: fit-content;
  width: auto;
}

#pimgs {
  width: 100%;
  height: fit-content;
}

#dp-h2 { /* #drawing-painting h2 */
  width: fit-content;
  height: auto;
  float: left;
  padding-right: 3em;
  border-right: 0.15em solid #fff;
}

#travel-h2 {
  width: 25%;
  margin: auto;
  padding-left: 3em;
  padding-right: 3em;
  display: inline-block;
  vertical-align: middle;
}

#travel img {
  width: 100%;
}

#travel-imgs {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  border-right: 0.15em solid #fff;
}

.travel-photos {
  width: 30%;
  padding-left: .2em;
  padding-right: .2em;
  display: inline-block;
  vertical-align: bottom;
}

#travel p {
  width: 100%;
  display: inline-block;
}

#mk {
  margin-bottom: 0;
}

/*    DRAWING PAINTING & TRAVEL    */

/*    RESUME    */

iframe {
  width: 100%;
  max-width: 900px;
  height: 600px;
  border: none;
  padding-top: 0.5em;
  margin: 0 auto;
  display: block;
}

#resume, #projects {
  border-top: 3px solid #fff;
}

/*    RESUME    */

/*    PROJECTS    */

.projList {
  margin-top: auto;
  margin-bottom: auto;
  width: 75%;
}


#ca, #cf, #na {
  width: 15%;
  margin: auto;
  text-align: center;
}

#connectFourSS, #newsAggSS {
  width: 100%;
}
.screenshot:hover {
  border: 3px solid deeppink;
}

.github {
  padding: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 2em;
  list-style-type: none;
  text-align: center;
  color: rgb(129, 127, 127);
}

.list{
  display: flex;
  width: 100%;
  margin-bottom: 0.5em;
}

.proj {
  margin-top: 1em;
  border-bottom: 3px solid #fff;
}

.oddP {
  border-right: 3px solid #fff;
  padding-right: 0.5em;
  margin-top: 1em;
  margin-right: 10em;
  border-bottom: 3px solid #fff;
}

.evenP {
  border-left: 3px solid #fff;
  margin-top: 1em;
  margin-left: 10em;
  border-bottom: 3px solid #fff;
}

.oddP:hover, .evenP:hover {
  border-color: deeppink;
}

/*    PROJECTS    */

/*    CONTACT    */
#contact {
  margin: 0;
  border: 3px solid #fff;
}

/*    CONTACT    */

/*    MEDIA QUERIES    */

/*@media (min-width: 600px) and (max-width: 900px){
  #main-pg {
    width: 90%;
  }

  #projects {
    width: 75%;
  }

  #map {
    width: 35em;
    height: 100%;
  }

  #newsAggSS {
    width: 15%;
  }

  #connectFourSS {
    width: 10%;
  }
}

@media (min-width: 340px) and (max-width: 599px){
  #main-pg {
    width: 90%;
  }

  #projects {
    width: 70%;
  }

  #map {
    width: 30em;
    height: 100%;
  }

  #newsAggSS {
    width: 15%;
  }

  #connectFourSS {
    width: 12%;
  }
}

/*    MEDIA QUERIES    */